
@font-face {
    font-family: 'baron_neueblack_italic';
    src: url('baron_neue_black_italic-webfont.woff2') format('woff2'),
         url('baron_neue_black_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'baron_neueblack';
    src: url('baron_neue_black-webfont.woff2') format('woff2'),
         url('baron_neue_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'baron_neuebold_italic';
    src: url('baron_neue_bold_italic-webfont.woff2') format('woff2'),
         url('baron_neue_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'baron_neuebold';
    src: url('baron_neue_bold-webfont.woff2') format('woff2'),
         url('baron_neue_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'baron_neueitalic';
    src: url('baron_neue_italic-webfont.woff2') format('woff2'),
         url('baron_neue_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'baron_neueregular';
    src: url('baron_neue-webfont.woff2') format('woff2'),
         url('baron_neue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #f3dac4;
    font-size: 16px;
    font-family: 'baron_neueblack', Arial, sans-serif; 
}

#background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-color: rgba(82, 126, 139, 1);
    z-index: 1;
}

#content {
    position: relative;
    z-index: 2;
    padding: 30px;
    text-align: center;
    font-weight: bold;
}

p { 
    font-family: 'baron_neueblack', Arial, sans-serif; 
    font-size: 40px;
}

.wrap {
    width: 100%;
    height: 100%;
}
.top-left {
    position: absolute;
    top: 25px;
    left: 250px;
    transform: rotate(-90deg) scaleX(-1);
    transform-origin: top left;
    z-index: 2;
    font-size: 150px;
    padding: 4px 15px;
}
/* plastic */
.top-left .content {
    transform: scaleX(-1);
    color:#f3dac4;
    line-height: 230px;
    padding-left: 15px;
}
/* natural */
.top-left .content-1 {
    transform: scaleX(-1);
    color:#f3dac4;
    line-height: 230px;
    padding-right: 30px;
}
.top-right {
    position: absolute;
    top: 25px;
    right:250px;
    transform: rotate(90deg) scaleX(-1);
    transform-origin: top right;
    font-size: 150px;
    padding: 4px 15px;
    
}
/* synthetic */
.top-right .content {
    transform: scaleX(-1);
    z-index: 2;
    color:rgba(82, 126, 139, 1);
    line-height: 230px;
}
/* plastic */
.top-right .content-1 {
    transform: scaleX(-1);
    z-index: 2;
    color:rgba(82, 126, 139, 1);
    padding-left: 100px;
    line-height: 230px;
}